<mat-toolbar color="primary">

  <span>
    <a mat-button routerLink="">
      <mat-icon > home </mat-icon>
      Inicio
    </a>
  </span>
  <div>
    <a mat-button routerLink="estudiante">
      Estudiante
    </a>
  </div>

  <div>
    <a mat-button routerLink="maestro/crear">
    Maestro
    </a>
  </div>

  <div>
    <a mat-button routerLink="calificaiones">
    Agregar calificaiones
    </a>
  </div>

  <div>
    <a mat-button routerLink="">
      <mat-icon >search</mat-icon>Buscar Estudiantes
    </a>
  </div>


</mat-toolbar>
